body{
    text-align: center;
    background-color: aqua;
}
.1{
  width: 225;
  height: 225;
  
}
#thor{
     width: 225px;
  height: 225px;
  
}
img {
    transiction: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.container {
    text-align: center;
}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#myCarouse2 {
    background-color: #b5d0d4;
}

#myCarouse2 img {
    height: 300px;
    margin-top: 35px;
}
